%p
  %b
    Общество с ограниченной ответственностью  "Экспертный калькулятор"(ООО «ЭККА»)
  %p
    Место нахождения: 105066, Москва,
    %br
    ул. Спартаковская, дом. 16, корп. 2, офис 47
  
  %p
    ИНН  7701834487
    %br
    КПП 770101001
    %br
    ОГРН 1097746195568
    %br
    ОКПО  60539389

  р/с 40702810500090014594

%p
  %b
    Наименование банка и банковские реквизиты:
  %br
  ЗАО "РУССТРОЙБАНК"
  %br
  к/с 30101810800000000591 в Отделении №5 Московского ГТУ Банка России,
  %br
  БИК 044552591

%p
  %b
    Контактная информация:
  %br
  Тел.: +7 (916) 029-11-51  
  %br
  E-mail: 
  = mail_to 'info@autoekka.ru'
